<!DOCTYPE html>
<html>
<head>
	<title>David Golden</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700|Droid+Serif|Slabo+27px" rel="stylesheet">
	<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
</head>
<body>

<section id="titlePage" class='hasBackground'>
		<h1>David Golden</h1>
		<h3><em>Front End Web Developer</em></h3>
		<a href="#contact">Start a Conversation</a>
	
	<nav role = 'navigation' class='normalNav'>
	<span id='scrollIcon'><i class="fa fa-bars" aria-hidden="true"></i></span>
		<ul>
			<li><a class = 'navLink' href="#titlePage">Home</a></li>
			<li><a class = 'navLink' href="#portfolio">Portfolio</a></li>
			<li><a class = 'navLink' href="#skills">About</a></li>
			<li><a class = 'navLink' href="#contact">Contact</a></li>
		</ul>
		
	</nav>
</section>

<section id='portfolio'>
	<h2>Portfolio</h2>
	
	<div id="displayProject">
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
		<i class="fa fa-chevron-right" aria-hidden="true"></i>
		<div id='displayImage' class='one'></div>
		<div id="displayDesc" class='two'></div>
		<div id="displayTags" class='three'></div>
		
	</div>
	
</section>
<section id='skills' class='hasBackground'>
<h2>About</h2>
<div class='aboutContainer'>
	<p>I am a front-end web developer. My front-end stack includes HTML5, CSS3 (vanilla and Sass), and vanilla Javascript. I have had some exposure to Bootstrap, jQuery, and server-side languages PHP and NodeJS. I am self-taught, having completed the front-end component of <a href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/overview">Colt Steele's Web Development Bootcamp</a>, worked through Lynda courses, and studied StackExchange as well as many other other online resources.<br><br>

	Outside of web development, I hold a B.S. in Environmental Science from Dickinson College. I own a curbside composting company in Durango, CO. And my most time-consuming hobby is ultra distance trail running in the mountains.</p>
</div>
</section>



<section id='contact'>
	<h2>Contact</h2>
	<img src="assets/images/selfie_optimized.jpg" style="height: 400px">
	<form action='/' method='POST'>
		<input type="text" name="form[first]" placeholder = "First Name" required>
		<input type="text" name="form[last]" placeholder="Last Name" required>
		<input type="email" name="form[email]" placeholder="Email" required>
		<textarea name='form[message]' placeholder='Message' required></textarea>
		<button type='submit'>Send</button>
	</form>
</section>

</body>
<script type="text/javascript" src='/assets/js/script.js'></script>
</html>