<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
  	<title>Ugly Duck Studio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <meta property="og:image" content="http://www.uglyduckstudio.com/assets/socialshare.jpg" />
  	<meta property="og:title" content="Ugly Duck Studio" />
    <meta property="og:description" content="Offbeat, distinct, and vivid graphic and web design. Because in a world this big, your project needs to shine. And above all, beware of the cat." />
    <link rel="icon" href="/assets/images/duck_only.png">
  </head>

<body style='position: static;'>

  <header>
    <a href="https://www.facebook.com/uglyduckdesignstudio/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="mailto:info@uglyduckstudio.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <a href="tel: 9707996997"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
</header>
<style type="text/css">
	footer {
		display: none;
	}
</style>

  <div id='index'>

<div id='landing'>
    <a href="/about">about us</a>
    <img src="/assets/images/full_logo_white.png">
    <a href="/portfolio">portfolio</a>
</div>

</div>

<% include partials/footer %>