<% include partials/header %>

<style>
body {
  background: url(/assets/images/mainbg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: auto;
    width:100%;
    overflow-x: hidden;
    height: 100vh;
}
</style>

<div class='portfolio'>

<div id='menu'>
    <h1>Portfolio</h1>
    <ul>
      <li class='navButton activeNav' id="example">all</li>
      <li class='navButton' id="branding">branding</li>
      <li class='navButton' id="graphics">graphics</li>
      <li class='navButton' id="web-design">web design</li>
      <li class='navButton' id="web-development">web development</li>
    </ul>
  </div>

  <a href="/about" id='bottomLink'>
    <img src="/assets/images/yellow_duck.png">
    <h1>About</h1>
  </a>


  <div class='displayContainer'>
    <img src="/assets/images/projects/tfc_circle.png" data-id='tfc' data-toggle="modal" data-target="#exampleModal" data-size='large' class='example branding graphics web-design web-development'>
    <img src="/assets/images/projects/caddis_circle.png" data-id='caddis' data-toggle="modal" data-target="#exampleModal" alt-text='' class='example graphics '>
    <img src="/assets/images/projects/sjca_circle.png" data-id='sjca' data-toggle="modal" data-target="#exampleModal" alt-text='' class='example graphics web-design web-development'>
    <img src="/assets/images/projects/bowies_circle.png" data-id='bowies' data-toggle="modal" data-target="#exampleModal" data-text='Logo for a firewood company in Maine.' alt-text='' class='example branding'>
    <img src="/assets/images/projects/optimal_circle.png" data-id='optimal' data-toggle="modal" data-target="#exampleModal" alt-text='' class='example graphics '>
    <img src="/assets/images/projects/swwh_circle.png" data-id='swwha' data-toggle="modal" data-target="#exampleModal" data-size='large' class='example web-design'>
    <img src="/assets/images/projects/pol_circle.png" data-id='pol' data-toggle="modal" data-target="#exampleModal" data-size='large'class='example web-design branding'>
    <img src="/assets/images/projects/airport_circle.png" data-id='airport' data-toggle="modal" data-target="#exampleModal" alt-text='' class='example graphics'>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    <div class="modal-dialog" role="document">

      <div class="modal-content">
        <i id='modalLeftButton' class="fa fa-chevron-left" aria-hidden="true"></i>
        <i id='modalRightButton' class="fa fa-chevron-right" aria-hidden="true"></i>
<!--         <div class="modal-header"> -->

        <!-- </div> -->
        <div class="modal-body">
          <div class='modal-img'></div>
        </div>
      </div>
    </div>
    <div class='modal-text'></div>
  </div>

<% include partials/footer %>
