$yellow: #ffeea3;
$orange: #e1a038;
$break: 800px;
$largebreak: 1156px;

@font-face {
	font-family: "JosefinSansBold";
 	src: url("/assets/fonts/josefin_sans/JosefinSans-Bold.ttf");
}

@font-face {
	font-family: 'AmaticBold';
	src: url('/assets/fonts/amatic/Amatic-Bold.ttf');
}

p, a, li {
	font-family: 'JosefinSansBold';
	color: white;
}


h1,h2,h3,h4 {
	font-family: 'AmaticBold';
	text-transform: uppercase;
	-webkit-text-stroke: 3.5px white;
	text-stroke: 3.5px white;
	color: white;
}

h1 {
	font-size: 5em;
}

li {
	font-size: 2em;
}

body {
	position: relative;

	@media(max-width: $break) {
		overflow-y: scroll;
	}
}

header {
	position: absolute;
	top: 0;
	right: 10px;
	color: white;
	font-size: 2em;
	cursor: pointer;
	z-index: 1000;


	a:hover {
		color: $yellow !important;
	}
}
nav {
	a.navLink {
		font-size: 2em;
		vertical-align: middle;
	}
	a.navLink:hover {
		color: $yellow !important;
	}

	.navbar-brand {
		color: $yellow !important;
		cursor: default;
	}

	.nav-link {
		color: white !important;
		cursor: pointer;
		border: none;
		.nav-link:hover {
			color: $yellow !important;
		}
	}
}


#index:before {
	  content: "";
	  display: block;
	  position: fixed;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  z-index: -10;
	  background: url(/assets/images/landingbg.jpg) no-repeat center center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

#index {
	#landing {

	height: 100%;
	width: 100%;
	text-align: center;
	margin-top: 5%;

		img {
			display: inline-block;
			width: 50%;
			max-width: 444px;
		}

		a {
			color: white;
			font-size: 3em;
			display: inline-block;
		}

		a:hover {
			color: $yellow;
			border-bottom: 5px dotted white;
			text-decoration: none;
			padding-bottom: 0;
		}

		* {
			margin: 0 3%;
		}

		@media(max-width: 900px) {
			margin-top: 10%;
			a {
				display: block;
			}
			a:hover {
				border: none;
			}
		}
	}
}

.navbar {
	display: none;
	li {
		font-size: 1em;
		text-transform: uppercase;
		font-family: 'JosefinSansBold' !important;
	}

	@media(max-width: $largebreak) {
		display: flex;
	}

	.navbar-brand {
		font-family: 'AmaticBold';
		font-size: 2em;
		padding: 0;
	}
}

.menuDisplay {
	@media(max-width: $break) {
		height: 0 !important;
	}
}

#menu {
	width: 100%;
	position: relative;



	.activeNav {
		color: $yellow;
		border-bottom: 5px dotted white;
		cursor: default;

		@media(max-width: $break) {
			border: none;
		}
	}

	h1 {
		display: inline-block;
		line-height: 100px;
		vertical-align: top;
		margin-left: 10px;

		@media(max-width: $break) {
			display: none;
		}
	}


	ul {
		display: inline-block;
		position: absolute;
		top: calc(50% - 20px);

		@media(max-width: $break) {
			position: inherit;
			margin-top: 20px;
			text-align: center;
			padding: 0;
		}
	}

	li {
		display: inline-block;
		list-style: none;
		font-size: 1.5em;
		cursor: pointer;
		color: white;
		margin-left: 20px;
	}

	li:hover {
		border-bottom: 5px dotted white;
		color: $yellow;

		@media(max-width: $break) {
			border: none;
		}
	}
}


#bottomLink {
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-decoration: none;
	position: fixed;
	z-index: 999;

	@media(max-width: $largebreak) {
		display: none;
	}

	img {
		height: 100px;
	}

	h1 {
		display: inline-block;
		margin: 0;
		vertical-align: top;
	}
}

.displayContainer {
	width: 80%;
	color: white;
	margin-left: 5%;
	margin-bottom: 5%;

	@media(max-width: $break) {
		margin: 0 auto;
    width: 100%;
    text-align: center;
	}


		h1 {
			color: $yellow !important;
			display: inline-block;
			text-stroke: 3.5px $yellow;
			-webkit-text-stroke: 3.5px $yellow;
			margin-bottom: 0;
		}

	div {
		width: 200px;
		height: 200px;
		border-radius: 100%;
		display: inline-block;
		background-color: white;
		cursor: pointer;
		transition: opacity 1s ease;
		margin: 20px;

		& .disabled {
			background-color: transparent;
		}

		img {
			margin: 0;
			width: 200px;
			height: 200px;
			background-color: transparent;
			object-fit: contain;
		}

		&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(9) {
			img {
				width: 150px;
				height: 150px;
				margin: 25px;
			}

			&:hover {
				img {
					width: 160px;
					height: 160px;
					margin: 25px;
				}
			}
		}

		&:hover {
			width: 210px;
			height: 210px;
			margin: 15px;

			img {
				width: 210px;
				height: 210px;
			}
		}
	}
}

.disabled {
	opacity: 0.3;
	pointer-events: none;
	cursor: not-allowed;
}

.modal {
	text-align: center;
	font-family: "JosefinSansBold" !important;

	.modal-body {
		height: 300px;
	}

	.modal-content {
		background-color: transparent;
		border: none;

		i {
			color: lightgray;
			position: absolute;
			font-size: 60px;
			top: calc(50% - 30px);
			cursor: pointer;
			transition: all 0.5s ease;
			z-index: 100;
		}

		i:hover {
			color: gray;
		}

		.fa-chevron-left {
			left: 20px;
		}

		.fa-chevron-right {
			right: 20px;
		}
	}

	p {
		color: black;
		margin-top: 20px;
	}

	.modal-img {
		margin: 0 auto;
		max-width: 450px;

		img {
			width: 100%;
			border-radius: 25px;
			clip-path: inset(1px);
		}
	}

	.close {
		color: white !important;
		font-size: 7em !important;
		opacity: 1  !important;
		line-height: 56px !important;
		cursor: pointer;
		position: fixed;
    	right: 1%;
	}

	.modal-dialog {
		max-width: 600px;
		margin-top: 5%;

		@media(max-width: $break) {
			margin-top: 20%;
		}
	}

	.modal-text {

		max-width: 600px;
		margin: 30px auto;
		text-align: left;

		h1 {
			color: $yellow;
			font-size: 2.2em;
			display: inline-block;
			-webkit-text-stroke: 0px;
    		text-stroke: 0px;
		}

		p, a {
			color: white;
			font-size: 1.1em;
			display: inline-block;
			margin-top: 0;
		}
	}
}

.modal-backdrop
{
    opacity:0.7 !important;
}

.aboutBio {
	font-size: 1.2em;
	width: 50%;


	margin: 0 auto;
	text-align: center;

	span {
		color: $yellow;
	}

	@media(max-width: $break) {
		width: 80%;
	}

	.aboutContact {
		margin-top: 5px;
		text-align: center;
		background-color: none;

		a:hover {
			color: $yellow;
			text-decoration: none;
		}
	}

	.aboutText {
		background-color: rgba(0,0,0,0.7);
		padding: 20px;

	}
}



.aboutPics {
	text-align: center;

	img {
		width: 250px;
		margin: 0 30px 40px;
	}
}

.modal-img {
	img {
		object-fit: contain;
		height: 100%;
		padding: 20px;
		max-height: 300px;
	}
	background-color: white;
	border-radius: 20px;
	height: 300px;
}
